


.posts{
  max-width: 720px;
  margin-top: 2in;
  a{
    text-decoration: none;
    // NOTE work work without display block because of the top and bottomn margin of inline elements

    display: block;
  }
  a + a {
    margin-top : 3rem ;
  }
  strong{
    display: block;
    color: var(--heading);
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
    // margin-bottom: 1rem;
  }
  p{
    color: var(--body);
    margin-top: 0.6rem;
    font-size: 1.125rem;
  }
  ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-top: 1.5rem;
    color: var(--body);
    svg{
      margin-right : 0.5rem;
    }
    li + li{
      margin-left: 1.625rem;
    }
  }
}
.post{

}


.nextPage{
  border: 0;
  background-color: transparent;
  color: var(--highlight);
  font-size: 1.125rem;
  margin-top: 4rem;
}
